    @import '../node_modules/bootstrap/dist/css/bootstrap.css';
$navColor: #488AC5;
$textColor: #93989e;
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    .navbar-default {
        background-color: $navColor;
    }
    .navbar-brand {
        font-weight: 600;
        color: $navColor;
        padding-right: 0;
        padding-bottom: 0.5em;
        font-size: 1.25em;
    }
    #navbar-second {
        float: left;
        color: #666971;
        padding-left: 0;
    }
    .navbar-toggle {
        background-color: $navColor;
        padding: 0.25em;
        padding-top: 0;
        margin-bottom: 0;
        .icon-bar {
            width: 1.5em;
            height: 0.25em;
            background-color: #fff;
            margin-top: 5px;
        }
    }
}

.page-header {
    color: #fff;
    overflow: hidden;
    margin: 0 auto;
    text-shadow: 1px 0px 7px black;
    background-image: url('../images/hero-dark.jpg');
    background-size: cover;
    padding: 4em 0;
    .header-title {}
    .header-subtext {
        font-size: 1.25em;
        font-weight: normal;
    }
}

well .overview {
    background-color: #fff;
}

.well {
    color: #ABAFB2;
    //     .well-title {
    //         font-size: 1.3em;
    //         font-weight: bold;
    //         margin-top: 0;
    //     }
    //     .btn-primary {
    //         width: 15em;
    //         height: 2em;
    //         margin-top: 1em;
    //         font-size: 0.75em;
    //     }
    // }
    //  .well.well-content {
    //         background-color: #F0F0F0;
    //         border: none;
    //         color: #AAAAAA;
    //         padding-top: 1em;
    //     }
    .thumbnail {
        border: none;
        .caption {
            color: #A4A4A4;
            font-size: 1.3em;
        }
    }
    .bike-img {
        margin: 1em auto;
    }
    .footer-box {
        background-color: #3A414A;
        color: $textColor;
        padding: 2em;
        h5 {
            font-weight: bold;
        }
        a {
            text-decoration: underline;
            color: $textColor;
        }
        .footer-summary {}
    }
    @media screen and (min-width: 48em) {
        h1 {
            font-size: 3em;
            text-align: left;
        }
        h2 {
            font-size: 2em;
            text-align: right;
        }
    }
    @media screen and (min-width: 75em) {
        h1 {
            font-size: 5em;
            text-align: left;
        }
        h2 {
            font-size: 2.5em;
            text-align: right;
        }
    }
