@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  font-family: "Open Sans", sans-serif; }

.navbar.navbar-default {
  background-color: #fff;
  border: none;
  margin: 0; }
  .navbar.navbar-default .navbar-toggle {
    background-color: #418BCC;
    padding: 4px;
    line-height: 20px;
    margin-right: 5em; }
    .navbar.navbar-default .navbar-toggle span.icon-bar {
      background-color: white;
      height: 4px;
      width: 30px;
      border-radius: 7px;
      margin: 5px 0; }
  .navbar.navbar-default ul li {
    margin-right: 40px; }
  .navbar.navbar-default .login-button {
    margin-top: 7px;
    width: 85px; }
  .navbar.navbar-default .navbar-brand {
    font-size: 1.75em;
    font-weight: 600;
    text-transform: uppercase; }
    .navbar.navbar-default .navbar-brand span#snap {
      color: #508ABC; }
    .navbar.navbar-default .navbar-brand span#grid {
      color: #6F7376; }

.hero {
  width: 100%;
  background-image: url(/images/hero-dark.jpg);
  background-size: cover; }
  .hero #hero-title {
    font-size: 4em;
    font-weight: 300;
    margin-top: 1.75em; }
  .hero #hero-text {
    font-size: 1.75em;
    font-weight: 100;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3em; }

h1 {
  color: #fff;
  font-size: 5em;
  text-align: center; }

h2 {
  color: #fff;
  text-align: center; }

h3, h4 {
  color: #8E9295;
  margin-bottom: 1.5em;
  font-weight: 600;
  font-size: 1.5em; }

h4 {
  text-align: center;
  margin-bottom: 1em; }

small {
  color: #bbb; }

p {
  color: #8B8B8B;
  margin-bottom: 1.5em; }

.download {
  margin-top: 1.5em;
  padding: 0.4em 5em;
  font-size: 0.8em; }

.well {
  border: none;
  text-align: left; }
  .well .well-content {
    text-align: left; }
  .well .well-title {
    text-align: left;
    font-size: 1.2em;
    color: #B0AFB3;
    margin-bottom: 0.5em; }

.banner {
  padding-top: 1em; }
  .banner #mid-title {
    text-align: left; }

hr {
  color: #444; }

.thumbs .thumb-caption {
  font-size: 1.5em;
  color: #A1A1A1; }

footer {
  background: #3A414B; }
  footer .about-links a {
    display: block; }

@media screen and (min-width: 48em) {
  h1 {
    font-size: 3em;
    text-align: right; }
  h2 {
    font-size: 2em;
    text-align: left; } }

@media screen and (min-width: 75em) {
  h1 {
    font-size: 5em;
    text-align: center; }
  h2 {
    font-size: 2.5em;
    text-align: center; } }
